<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <h1 class="card-title" style="font-size: 22px">Question {{ id +1 }}</h1>
          <p class="card-title">{{ numLeft }} questions left</p>
        </div>
        <div class="col-auto">
          <button *ngIf="show" class="btn btn-primary me-2" style="width: 40px" (click)="handleClick(1)">
            *
          </button>
          <button *ngIf="show" class="btn btn-primary ms-2" style="width: 85px" (click)="handleClick(2)">
            Next
          </button>
          <button *ngIf="!show" class="btn btn-success ms-2" style="width: 85px" (click)="handleClick(3)">
            Show
          </button>
          <button class="btn btn-success ms-2" style="width: 85px" (click)="copyToClipboard()">
            Copy Q
          </button>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <p class="card-text text-start" style="font-weight: bold">
            {{ question }}
          </p>
        </div>
      </div>

      <div class="btn-group d-grid gap-2" role="group">
        <div *ngIf="!show || (show && !aw1c)" class="p-3 mb-2 bg-light text-dart">{{ aw1 }}</div>
        <div *ngIf="aw1c && show" class="p-3 mb-2 bg-primary text-dart">{{ aw1 }}</div>
        <!-- <button *ngIf="!show || (show && !aw1c)" class="btn btn-muted text-start" (click)="copyToASClipboard(1)">
          {{ aw1 }}
        </button>
        <button *ngIf="aw1c && show" class="btn btn-primary text-start" (click)="copyToASClipboard(1)">
          {{ aw1 }}
        </button> -->

        <div *ngIf="!show || (show && !aw2c)" class="p-3 mb-2 bg-light text-dart">{{ aw2 }}</div>
        <div *ngIf="aw2c && show" class="p-3 mb-2 bg-primary text-dart">{{ aw2 }}</div>
        <!-- <button *ngIf="!show || (show && !aw2c)" class="btn btn-muted text-start" (click)="copyToASClipboard(2)">
          {{ aw2 }}
        </button>
        <button *ngIf="aw2c && show" class="btn btn-primary text-start" (click)="copyToASClipboard(2)">
          {{ aw2 }}
        </button> -->

        <div *ngIf="!show || (show && !aw3c)" class="p-3 mb-2 bg-light text-dart">{{ aw3 }}</div>
        <div *ngIf="aw3c && show" class="p-3 mb-2 bg-primary text-dart">{{ aw3 }}</div>
        <!-- <button *ngIf="!show || (show && !aw3c)" class="btn btn-muted text-start" (click)="copyToASClipboard(3)">
          {{ aw3 }}
        </button>
        <button *ngIf="aw3c && show" class="btn btn-primary text-start" (click)="copyToASClipboard(3)">
          {{ aw3 }}
        </button> -->

        <div *ngIf="!show || (show && !aw4c)" class="p-3 mb-2 bg-light text-dart">{{ aw4 }}</div>
        <div *ngIf="aw4c && show" class="p-3 mb-2 bg-primary text-dart">{{ aw4 }}</div>
        <!-- <button *ngIf="!show || (show && !aw4c)" class="btn btn-muted text-start" (click)="copyToASClipboard(4)">
          {{ aw4 }}
        </button>
        <button *ngIf="aw4c && show" class="btn btn-primary text-start" (click)="copyToASClipboard(4)">
          {{ aw4 }}
        </button> -->

        <div *ngIf="aw5 != '' && (!show || (show && !aw5c))" class="p-3 mb-2 bg-light text-dart">{{ aw5 }}</div>
        <div *ngIf="aw5 != '' && aw5c && show" class="p-3 mb-2 bg-primary text-dart">{{ aw5 }}</div>
        <!-- <button *ngIf="aw5 != '' && (!show || (show && !aw5c))" class="btn btn-muted text-start"
          (click)="copyToASClipboard(5)">
          {{ aw5 }}
        </button>
        <button *ngIf="aw5 != '' && aw5c && show" class="btn btn-primary text-start" (click)="copyToASClipboard(5)">
          {{ aw5 }}
        </button> -->
      </div>
    </div>
  </div>
</div>