<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="row mb-4">
        <div class="col">
          <h1 class="card-title">Question {{ id }}:</h1>
          <p class="card-text mt-4" style="font-weight: bold">{{ question }}</p>
        </div>
        <div class="col-auto">
          <button class="btn btn-success" (click)="handleClick()">Next</button>
        </div>
      </div>

      <div class="btn-group d-grid gap-2" role="group">
        <button
          *ngIf="!show || (show && !aw1c)"
          class="btn btn-muted text-start"
        >
          {{ aw1 }}
        </button>
        <button *ngIf="aw1c && show" class="btn btn-primary text-start">
          {{ aw1 }}
        </button>

        <button
          *ngIf="!show || (show && !aw2c)"
          class="btn btn-muted text-start"
        >
          {{ aw2 }}
        </button>
        <button *ngIf="aw2c && show" class="btn btn-primary text-start">
          {{ aw2 }}
        </button>

        <button
          *ngIf="!show || (show && !aw3c)"
          class="btn btn-muted text-start"
        >
          {{ aw3 }}
        </button>
        <button *ngIf="aw3c && show" class="btn btn-primary text-start">
          {{ aw3 }}
        </button>

        <button
          *ngIf="!show || (show && !aw4c)"
          class="btn btn-muted text-start"
        >
          {{ aw4 }}
        </button>
        <button *ngIf="aw4c && show" class="btn btn-primary text-start">
          {{ aw4 }}
        </button>

        <button
          *ngIf="aw5 != '' && (!show || (show && !aw5c))"
          class="btn btn-muted text-start"
        >
          {{ aw5 }}
        </button>
        <button
          *ngIf="aw5 != '' && aw5c && show"
          class="btn btn-primary text-start"
        >
          {{ aw5 }}
        </button>
      </div>
    </div>
  </div>
</div>
